/* ==================== ==================== NAVBAR ==================== ==================== */

.navbar {
  background-color: white !important;
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  z-index: 1050;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* ==================== Logo ==================== */

#navbar-section .navbar-logo {
  padding: 0 10px;
  height:30px;
  width: auto;
  max-height: 30px;
}

#navbar-section .navbar-brand:hover {
  color: #333;
}

#navbar-section .navbar-brand:focus {
  color: #333;
}

/* ==================== Navbar Items - Left ==================== */

#navbar-section .nav-link {
  color: #004f58;
  transition: color 0.3s;
}

#navbar-section .nav-link:hover {
  color: #E26310;
}

#navbar-section .navbar-brand,
#navbar-section .nav-link {
  max-height: 100px;
}

#navbar-section .navbar-nav .nav-link {
  padding-left: 20px;
  padding-right: 20px;
}

/* ==================== Dropdown menu ==================== */

#navbar-section .dropdown-menu .dropdown-item:hover {
  background-color: #EA7300;
  color: white;
}

#navbar-section .dropdown-menu .dropdown-item:active {
  background-color: #fba70d;
  color: white;
}

/* ==================== Navbar Items - Right ==================== */

#navbar-section .nav-right-sec-icons {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

#navbar-section .nav-right-sec-text {
  display: inline;
  padding: 0 15px !important;
}

/* ==================== Toggler and search styles ==================== */

#navbar-section .navbar-toggler {
  border-color: #ccc;
}

#navbar-section .btn-outline-success {
  border-color: #005f6a;
  color: #005f6a;
}

#navbar-section .btn-outline-success:hover {
  background-color: #005f6a;
  color: white;
}

#navbar-section .search-section {
  margin-left: auto;
}


/* ==================== MEDIA QUERIES ==================== */

/* Hide navbar-right texts, keep icons visible */
/* when screen size is 1320px and below */
@media (max-width: 1320px) {
  #navbar-section .nav-text {
    display: none;
  }

  #navbar-section .nav-right-sec-text {
    font-size: 0;
    padding: 0 10px !important;
  }

  #navbar-section .nav-right-sec-icons {
    display: inline-block;
  }
}

@media (max-width: 991px) {

  #navbar-section .navbar-nav-left-items {
    background-color: white;
  }

  #navbar-section .navbar-nav {
    padding-left: 5px;
  }
}









/* ==================== Hide "Arrow-down" icons on navbar items with dropdown ==================== */
/* .navbar .dropdown-toggle::after {
  display: none !important;
} ==================== */
