/* General */
.container {
  padding: 30px 0;
}

.container .row {
  text-align: center;
}

.container .col-lg-4 p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 50px 10px;
}

.container-set-padding {
  padding: 20px 0;
 }
 
.orange-header {
  color: #E26310 !important;
}

.orange-header-bold {
  font-weight: 700;
}

.bright-orange-header {
  color: #ff9a00;
}

.darker-orange-header {
  color: #f2bd30;
}
.teal-green {
  color: #0a7c7c;
}

.left-align {
  text-align: left;
}

.overflow-hidden {
  max-height: 40vh;
}

.set-padding-y-none {
  padding: 0;
 }

.py-5 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.gen-container {
  margin-left: auto;
  margin-right: auto;
  /* padding-bottom: 3rem; */
}

.general-header1 {
  padding-bottom: 1.5rem;
}

.logistics-container {
  padding-top: 3rem;
}

.gen-box {
  text-align: center;
}

.banner-header  {
  margin-top: 60px;
}


/* Banner */
.btn-primary {
  background-color: #EA7300;
  border: none;
}

.btn-primary:hover {
  background-color:#fba70d;
}

.btn-primary:active {
  background-color: #EB5B00 !important;
}

.btn-primary:visited {
  background-color: #FFB200 !important;
}

.btn-outline-secondary {
  /* color: #EA7300; */
  /* border-color: #EA7300; */
  color: white;
  border-color: white;
}

.btn-outline-secondary:hover {
  color: white !important;
  border-color: #fba70d;
  background-color: #fba70d !important;;
}

.btn-outline-secondary:active {
  color: white !important;
  border-color: #EC5228 !important;
  background-color: #EC5228 !important;
}


/* Section - Why move with us */
.why-move-with-us-sec-container {
  padding-top: 5rem !important;
}

.why-move-with-us-sec-h1 {
  padding-bottom: 2.5rem !important;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
  background-color: #0a7c7c !important;
}

.icon-svg {
  height: 30px;
  filter: brightness(0) invert(1); /* Turns the image white */
}

.get-a-quote-link {
  color: #0a7c7c;
}

.carousel-section {
  padding-top: 1rem !important;
  padding-bottom: 4.5rem !important;
}

.carousel-item {
  transition: transform 3s ease-in-out;
}



/* Section - ways to send a package/Shipping Services */
#shipping-services-container {
  background-color: #ffc400;
}

.ship-sec-icon {
  height: 70px;
}

.ship-sec-h3 {
  padding: 1rem;
}

.global-text-format {
  display: flex;
  color: black;
  justify-content: center;
}

.shipping-sec-desc {
  padding-top: 10px !important;
  padding-bottom: 40px !important;
}


/* Section - logistics */
.logistics-img {
  max-width: 100%;
  width: auto;
  height: 600px;
  border-radius: .80rem;
 }

/* Section - Warehouse */
.logistics-box {
  display: flex;
  justify-content: start;
  align-items: center;
}


/* Section - NVOCC */
.nvocc-container {
 /* background-color: #f0f3f5; */
 background-color: white;
}

.nvocc-img {
  width: 550px;
}

/* Section - Cross Docking */
.crdock-container {
  background-color: #ffffff;
}

/* Section: Specialized Logistics */
.spec-logis-container {
  /* background-color: #f0f3f5; */
  background-color: white;
  padding-bottom: 3rem;
}

/* Section - Business Solutions  */
.btn-biz {
  background-color: #0a7c7c;
  border: none;
  color: white;
}

.btn-biz:hover {
  background-color:#fba70d;
}

.btn-biz:active {
  background-color: #EB5B00 !important;
}

.btn-biz:visited {
  background-color: #FFB200 !important;
}

.biz-icons {
  height: 40px;
}


@media (max-width: 576px) {
  
  .banner-padding-x {
    padding-right: 0 !important;
    padding-left: 0 !important;
  } 

  .mb-4 {
    margin-bottom: 1.5rem !important;
  }

  .shadow-lg { 
    box-shadow: none !important;
  }
}