/* ==================== SUPPORT SECTION 2-2 - GET A QUOTE ==================== */

#get-a-quote  .supp-sec-2-tabs-h1 {
  margin-bottom: 0;
}

#get-a-quote .supp-sec-2-text-area p {
  padding: 0;
}

#get-a-quote .supp-sec-2-2-box-rows {
  background-color: white;
  border: 1px solid #eff0f0;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  padding: 20px 50px;
  width: 100%;
}

#get-a-quote .supp-sec-2-2-box-rows:hover {
  box-shadow: 0 10px 26px rgba(0, 0, 0, 0.15);
}

#get-a-quote img {
  filter: invert(31%) sepia(87%) saturate(1318%) hue-rotate(152deg) brightness(84%) contrast(92%); 
}

#get-a-quote .supp-sec-2-2-box-text {
  padding-left: 20px;
}



