
/* ==================== SUPPORT SECTION 8 ==================== */

#support-section-8 .supp-sec-8-background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

#support-section-8 .supp-sec-8-inside-container {
  max-width: 1280px;
  margin: 0 auto;
}

#support-section-8 .supp-sec-8-box {
  padding: 3rem;
}

#support-section-8 .supp-sec-8-inside-box {
  font-family: 'Noto Sans', sans-serif;
}

#support-section-8 .supp-sec-8-header,
#support-section-8 .supp-sec-8-desc,
#support-section-8 .supp-sec-8-btn {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}



#support-section-8 .supp-sec-8-btn {
  padding: 1rem;
  margin-top: 2rem;
}

@media (min-width: 1024px) {
  #support-section-8 .supp-sec-8-header {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  #support-section-8 .supp-sec-8-desc {
    font-size: 24px;
    margin-bottom: 30px;
  }
}